<ng-container *ngIf="isProductsRoute()">
    <div class="flex-container">
        <button mat-icon-button data-bs-toggle="modal" data-bs-target="#modal">
            <mat-icon matBadge="{{productsQuantity$ | async}}">shopping_cart</mat-icon>
        </button>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Carro de compras</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <ng-container *ngFor="let product of getProductsInCart()">
                        <app-summary-product [values]="product"></app-summary-product>
                    </ng-container>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                        [routerLink]="['/shopping/cashier']">Comprar</button>
                </div>
            </div>
        </div>
    </div>
</ng-container>