<div class="card">
    <app-carousel [values]="{id: values.id, images: values.images}"></app-carousel>
    <div class="card-body body">
        <h5 class="card-title name">{{values.name}}<i class="bi bi-alarm-fill"></i></h5>
        <p class="card-text description">{{values.description}}</p>
        <div class="btn-group" role="group" aria-label="Basic outlined example">
            <button type="button" class="btn btn-dark" (click)="addMe()">Añadir al carro</button>
        </div>
    </div>
</div>