<mat-toolbar color="primary">
    <span><a class="home-button" [routerLink]="['/']">Proyecto01</a></span>
    <span class="example-spacer"></span>
    <app-shopping-cart (goToCashier)="goToCashieEvent()"></app-shopping-cart>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Account profile">
        <mat-icon>account_circle</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Log out">
        <mat-icon>exit_to_app</mat-icon>
    </button>
</mat-toolbar>