<mat-card class="example-card">
    <mat-card-title-group>
        <mat-card-title>{{values.name}}</mat-card-title>
        <mat-card-subtitle>{{values.price | currency}}</mat-card-subtitle>
        <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">

        <!--  -->
        
        <!--  -->

    </mat-card-title-group>
    <mat-card-content>
        {{values.description}}
    </mat-card-content>
    <mat-card-actions>
        <button mat-button class="container-item">
            <mat-icon>delete</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>