.product {
    max-width: 80%;
}

.presentation {
    display: flex;
    // flex: 1 1 auto
    background-color: red
}

.name_price {
    flex: 1
}

.presentation > img {
    max-width: 100px;
    // object-fit: cover;
}
