<mat-card class="example-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{values.name}}</mat-card-title>
        <mat-card-subtitle>{{values.price | currency}}</mat-card-subtitle>
    </mat-card-header>
    <!-- Podría la imagen cambiarse por una diapositiva de imagenes y esta esperar un click '(click)=' que al ejecutarse, envie un popup de tipo diálogo 'material.dialog' con la misma diapositiva pero con las imagenes en resolución al 70/80/90% -->
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
        <p>{{values.description}}</p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button class="container-item">
            <mat-icon>thumb_up_off_alt</mat-icon>
        </button>
        <button mat-button class="container-item" (click)="addMeEvent()">
            <mat-icon>add_shopping_cart</mat-icon>
        </button>
        <button mat-button class="container-item">
            <mat-icon>share</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>