.product {
    display: inline-block;
    max-width: 400px;
    max-height: 540px;
    padding: 5px;
    background-color: brown;
}

.header {
    background-color: violet;
}

.name {
    font-size: 2vw;
    height: 64px;
}

.name,
.description {
    overflow: hidden;
}

.price {
    background-color: blue
}

.description {
    font-size: 1vw;
    background-color: red;
    height: 60px;
}

.actions {
    text-align: center;
    background-color: green
}